:root {
    --mainColor: #46344E;
    --secondaryColor: #382a3f;

    --borderColor: #1d1520;

    --mainText: #fff;
    --secondaryText: #eeeeee;

    --themeDotBorder: #fff;

    --previewBg: rgb(29, 21, 32, 0.8);
    --previewShadow: #2b202f;

    --buttonColor: #8534a3;
    --accent: #8534a3;
    --success: #28a745;
    --error: #dc3545;

    /* Override shiny text theme variables for purple theme */
    --accent-color-full: #8534a3;
    --accent-color-transparent: rgba(133, 52, 163, 0);
}